<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <!-- Serilog configuration -->
    <!-- See https://github.com/serilog/serilog/wiki/AppSettings for details -->
    <add key="serilog:minimum-level" value="Verbose"/>
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile"/>
    <add key="serilog:write-to:RollingFile.pathFormat" value="Logs\log-{Date}.txt"/>
    
    <!-- Service details -->
    <add key="Name" value="GameKeeper"/>
    <add key="DisplayName" value="GameKeeper"/>
    <add key="Description" value="GameKeeper"/>
    
    <!-- Folder that contains the plugins to run -->
    <add key="PipelinePath" value=".\Pipeline"/>
  </appSettings>
</configuration>
