<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Serilog configuration -->
    <!-- See https://github.com/serilog/serilog/wiki/AppSettings for details -->
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:write-to:ColoredConsole" />
    
    <!-- Service details -->
    <add key="Name" value="GameKeeper" />
    <add key="DisplayName" value="GameKeeper"/>
    <add key="Description" value="GameKepper"/>
    
    <!-- Folder that contains the plugins to run -->
    <add key="PluginDirectory" value="Plugins" />
    
    <!-- Milliseconds between watchdog checks for stopped threads -->
    <add key="WatchdogFrequency" value="1000"/>

    <!-- rest api config-->
    <!-- to keep things simple, just remove the below key to disable the rest api-->
    <add key="RestUri" value="http://localhost:9999"/>

  </appSettings>
</configuration>